.header {
    background-size:  cover;
    background: #FFB500 url("../image/3.jpg") repeat-x;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    padding: 25px;
}
.navbar-color{
    text-shadow: 0px 0px 0px #000000;
}
.main{
    background-color: #FFB500;
    border-radius: 20px;
    margin-top:5px;
    margin-bottom: 5px;
    color: #fff;
    padding: 20px;
}
.footer {
    background-size:  cover;
    background: #FFB500 url("../image/3.jpg") repeat-x;
    color: #ffffff;
    padding: 15px;
    min-height: 20px;
}
.label-notification{

}
.table-style{
    background-color: #fff;
    color: #000;
    border-radius: 10px;
}